@import 'vars.scss';

body{
    background-color: #282c34;
    padding-bottom: 30px;
    
    @media (min-width: $breakpoint-tablet) {
        padding-bottom: 0;
    } 
}

#canvas {
   width:100%;
   display: block;
   
   @media (min-width: $breakpoint-tablet) {
    width: 60%;
    display:inline-block;
   }  
}

#canvas svg {
    width: 70%;
    height: 70%;

    max-width: 350px;
    max-height: auto;
    margin-bottom: 20px;

    @media (min-width: $breakpoint-tablet) {
        width: 80%;
        height: 80%;
        max-width: 400px;
        max-height: 400px;
    } 

    @media (min-width: $breakpoint-desktop) {
        width: 420px;
        height: 420px;
        max-width: none;
        max-height: none;
       } 

}

#mainContainer {
    @media (min-width: $breakpoint-tablet) {
        display: flex;
       } 

    
}

#footer {
    color: #dfdfe1;
    font-size: 12px;
    line-height: 20px;
    margin-top: 40px;

    & a {
        color:#dfdfe1;
        font-weight: bold;
        text-decoration: none;
    }
}
