button {
    width: 300px;
    height: 60px;
    background-color: #de3a3a;
    border: none;
    color: #ffffff;
    font-size: 20px;
    margin-top: 20px;
    border-radius: 4px;
    font-weight: bold;
    box-shadow: 2px 2px 2px #000;
}