#thumbnail svg {
    width: 130px;
    height: 130px;
    margin: 20px;
}

#thumbnail {
    background-color: #262429;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 40%;
    display: inline-block;
    height: 510px;
    overflow: scroll;
}

.svg-item {
    display: inline-flex
}